body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 80vh;
}

menu {
  font-family: "Roboto", sans-serif;
  margin: 5px;
  height: 10px;
}

headertitle {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
}

headertitlelarge {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
}

bookdesigntext {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: black;
}

rectangle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ffcd33;
}

pinkRectangle {
  display: inline-block;
  width: 100%;
  height: 800px;
  background: rgb(236 165 165);
}

column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

largeText {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: black;
}

text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

largeTextLight {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: black;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: black;
}

a:hover { color:black; }

contentTitle {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

contentSubtitle {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  color: black;
}

contentSubsubtitle {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: black;
}

contentSubsubsubtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: black;
}

contentSubsubsubtitlebold {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

quoteText {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: grey;
}
